{{define "base"}}
<!doctype html>
<html lang='en'>

<head>
    <meta charset='utf-8'>
    <title>{{template "title" .}} - Snippetbox</title>
    <link rel='stylesheet' href='/static/css/main.css'>
    <link rel='stylesheet' href='/static/img/favicon.ico' type='image/x-icon'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta description="A repository of programming snippets with syntax highlighting and basic version control.">
</head>

<body>
    <header>
        <h1><a href='/'>Snippetbox</a></h1>
    </header>
    {{template "nav" .}}
    <main>
        {{template "main" .}}
    </main>
    <footer>Powered by <a href='https://golang.org/'>Go programming language</a></footer>
    <script defer src='/static/js/main.js' type='text/javascript'></script>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&display=swap' media='print' onload="this.media='all'">
</body>

</html>
{{end}}